{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="container">
 {% if user.is_authenticated %}
  <a href="{% url 'catalog:product_create' %}" class="btn btn-lg btn-block btn-outline-primary">Добавить товар</a>
{% endif %}
  <div class="row">
    {% for object in object_list %}
    <div class="col-md-4">
      <div class="card mb-4 box-shadow h-100">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">{{ object.name }}</h4>
        </div>
        <div class="card-body d-flex flex-column">
          <img src="{{ object.image | my_media_filter }}" class="card-img-top img-fluid" style="object-fit: cover; height: 200px;">
          <h1 class="card-title pricing-card-title">{{ object.price }}</h1>
          <ul class="list-unstyled mt-3 mb-4 text-start">
            <li>{{ object.description|truncatechars:100 }}</li>
            {% if object.active_version %}
              <li>Актуальная версия: {{ object.active_version.version_number }} - {{ object.active_version.version_name }}</li>
            {% else %}
              <li>Неактуальная версия</li>
            {% endif %}
          </ul>
          <a class="btn btn-link" href="{% url 'catalog:item_detail' object.pk %}">Подробнее</a>
         {% if user == object.owner or user.is_superuser or is_moderator %}
          <a class="btn btn-link" href="{% url 'catalog:product_update' pk=object.pk %}">Редактировать</a>
          <a class="btn btn-link" href="{% url 'catalog:product_delete' pk=object.pk %}">Удалить</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
